@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:wght@300&display=swap");

/* HEAD - NAV MENU */

a.nav-logo {
  color: #01416f;
  font-size: 45px;
  font-family: "Oleo Script";
  text-transform: none;
}

a.nav-logo:hover {
  color: #01416f;
}

Nav {
  font-weight: bold;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #a8dcef;
}

.nav-link {
  color: #01416f !important;
  font-size: 15px;
  margin: 0px 4px !important;
  border-radius: 3px;
}

.nav-link.active {
  background-color: #f7941d;
  color: #fffcfa !important;
}
.nav-link:hover {
  background-color: #01416f;
  color: #fffcfa !important;
  transition: 0.5s;
}

button.navbar-toggler.collapsed {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

.navbar-toggler:active {
  box-shadow: none !important;
  border: none !important;
}

/* SECTION 1 - MAIN */

h1.display-1 {
  font: 5vw "Open Sans";
  color: #ffffffda;
  text-shadow: 1px 1px 13px rgb(0 0 0 / 75%);
  text-transform: uppercase;
  font-weight: 900;
}

p.carousel-paragraph {
  color: #fff;
  margin: 15px 0;
  font-size: 16pt;
  text-shadow: 1px 1px 13px rgb(0 0 0 / 75%);
  font-weight: 900;
}

.carousel-item img {
  min-height: 32vh;
}

.carousel-item .carousel-container {
  position: absolute;
  left: 39%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.carousel-inner > .carousel-item > img {
  height: 85vh;
}

button {
  font: 18px/20px "Open Sans";
}

button.btn-1 {
  background-color: #f7941d;
  border-radius: 5px;
  border: 3px solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

button.btn-1:hover,
button.btn-2:hover {
  background-color: #1181ad;
  color: #ffffff;
  transition: 0.5s;
}

button.btn-1:focus,
button.btn-2:focus {
  outline: none !important;
}

button.btn-2 {
  background-color: transparent;
  color: #444444;
  border-radius: 5px;
  border: 3px solid #ffffff;
}

#carouselStudents .carousel-indicators li {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-color: #0d1319;
}

/* SECTION 2 - CARDS */

.card {
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.23), 0 2px 2px rgba(0, 0, 0, 0.23);
  border-radius: 15px !important;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-3%);
}

div.card-body > h1 {
  color: #444444;
}

img.img-last-cards {
  margin-top: -25px;
}

.category {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 1px 1px 13px rgb(0 0 0 / 75%);
  text-transform: uppercase;
  font-weight: 900;
  background-color: #1181ad8c;
}

/* SECTION 3 - GALLERY & ABOUT */

section:nth-child(4) {
  color: #444444;
  background-color: #fff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid_img {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1.5%;
}

.grid_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_img .content-img {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  opacity: 0;
}

.content-img h2 {
  color: #ffffffda;
  text-shadow: 1px 1px 1px #0d1319;
  font-size: 1rem;
  text-transform: uppercase;
}

.grid_img:hover .content-img {
  opacity: 1;
}

/* FOOTER */

footer h5 {
  color: #444444;
  text-transform: uppercase;
  font-weight: 900;
}

footer i {
  color: #fff;
  font-size: 15px;
}

button.footer-button {
  color: #fff;
  background-color: #f7941d;
  border: #f7941d 1px solid;
  transition: 0.5s;
}

button.footer-button:hover {
  border-radius: 50% #1181ad;
  background-color: #1181ad;
  border: #1181ad 1px solid;
}

button.footer-button:hover > i {
  color: #01416f;
}

button.footer-button:active {
  border-radius: none;
}

li.list-footer {
  list-style: none;
}

a {
  text-decoration: none !important;
}
/* RWD */

@media (max-width: 992px) {
  a.nav-link {
    font-size: 20px;
    color: #fff;
  }
  a.nav-link:hover,
  a.active {
    background-color: none;
    color: #ccc;
  }
}

@media (max-width: 800px) {
  .carousel-caption {
    display: none;
  }
}

@media (max-width: 600px) {
  .img-subscribe {
    width: 75%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-inner .carousel-item > img {
    height: 50vh;
  }
  input.form-control-one {
    width: 12rem;
    padding-left: 10px;
    height: 5vh;
  }
}

@media (max-width: 385px) {
  a.nav-logo {
    font-size: 23px;
  }
}
